/***  16.25rem Navbar*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&family=Work+Sans:wght@100&display=swap");

:root {
  --primary-white: #fff;
  --primary-orange: rgb(241, 160, 9);
  --primary-dark: black;
}
body {
  font-family: "Work Sans", sans-serif;
}
.logo {
  width: 150px;
}
/*links*/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-bottom: var(--primary-dark) 5px solid !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-bottom: var(--primary-orange) 5px solid !important;
}
.navbar-nav > li > a:hover {
  border-bottom: var(--primary-orange) 5px solid !important;
}
