/***  16.25rem Navbar*/

@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");
:root {
  --primary-white: #fff;
  --primary-orange: rgb(241, 160, 9);
  --primary-dark: black;
  --primary-green: rgb(6, 241, 6);
  --primary-red: red;
  --primary-grey: rgb(133, 105, 105);
}
body {
  font-family: "Chango", cursive;
}
.logo {
  width: 150px;
}
/*links*/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-bottom: var(--primary-dark) 5px solid !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-bottom: var(--primary-orange) 5px solid !important;
}
.navbar-nav > li > a:hover {
  border-bottom: var(--primary-orange) 5px solid !important;
}

/***  header*/

.header-wrapper {
  position: relative;
  background: url(coffee.jpg) no-repeat;
  height: 90vh;
  background-size: cover;
  background-color: cover;
}
.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  z-index: 1;
}
.main-info h1 {
  font-family: "Work Sans", sans-serif;
  color: var(--primary-dark) !important;
  font-weight: 900;
}
.typed-text {
  color: var(--primary-white) !important;
  font-size: 1rem;
  font-weight: bolder;
}
.btn-main-offer {
  border: 5px solid var(--primary-green) !important;
  padding-top: 5;
  padding-bottom: 5;
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 5px;
  font-weight: 900;
  color: black;
  background-color: var(--primary-white);
}
.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-green) !important;
  color: var(--primary-white);
}
.tsparticles-canvas-el {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 10vh;
  z-index: 1;
}
.navbar {
  z-index: 2;
}

.about-wrapper,
.edu-header {
  background-color: var(--primary-dark);

  text-align: center;
  border-color: var(--primary-dark);
}
.about-wrapper:hover,
.edu-header:hover {
  color: var(--primary-white);
}
.container-paragraph,
.container-edu {
  font-family: "Chango", cursive;
  background-color: var(--primary-grey);
  border-radius: 20px;
}
